*.wav
*.jpg
*.ckpt
*.npz
*/__pycache__/*
*/__pycache__/*.pyc

data/scores/
data/spokencoco/
data/image_embeddings.npz
data/image_embeddings_matching_set.npy
!data/label_key.npz
data/sampled_audio_data.npz
data/sampled_img_data.npz
data/sampled_img_ranks_and_scores.npz
data/*.json
data/test_episodes.npz
data/test_episodes_MSCOCO_labels.npz
!data/test_keywords.txt
data/words.txt

examples/
few-shot-sampling/audio_files/
few-shot-sampling/dtw/
few-shot-sampling/segment_examples/
model_metadata/
pretrained/
support_set